header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 35px;
    width: 100vw;
    height: 100px;
}

.logo-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
 }

.navbar ul li {
    list-style: none;
    margin: auto 10px;
    font-size: 1.2em;
    
}

a {
    text-decoration: none;
}
